.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 70px;
}

.stat-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Ajouté pour le positionnement du diagramme */
}

.stat-card h3 {
  margin-top: 0;
}

.stat-card p {
  margin-bottom: 0;
}

.chart-container {
  background-color: #f8f9fa; /* Même couleur que les cartes */
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Applique la même ombre que les cartes */
  width: 100%; /* S'adapte à la largeur de la carte */
  display: flex;
  justify-content: center;
  align-items: center;
}


