/* Style pour le conteneur principal */
.livraison-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 17px;
  background-color: #fefdfe;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour les messages */
.ui-messages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Styles pour le formulaire de livraison */
.livraison-form {
  display: flex;
  flex-direction: column;
}

.livraison-form .p-field {
  margin-bottom: 15px;
}

.livraison-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.livraison-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #959293;
  border-radius: 4px;
}

.livraison-form input:focus {
  border-color: #ffb3c6 !important;
  box-shadow: 0 0 5px rgba(255, 179, 198, 0.5) !important;
}

/* Styles pour les étapes */
::ng-deep .p-steps .p-steps-item .p-steps-number {
  background-color: #fdbece !important;
  color: #fff !important;
  border-color: #ffb3c6 !important;
}

::ng-deep .p-steps .p-steps-item:hover .p-steps-number {
  background-color: #fdaab6 !important;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
  background-color: #f8aab4 !important;
}

/* Styles pour les boutons */
.livraison-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.livraison-buttons button {
  padding: 10px 20px;
  background-color: #ffb3c6 !important;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s;
}

.livraison-buttons button:hover {
  background-color: #ff9eac !important;
}

.livraison-buttons button:active {
  background-color: #ff7f8d !important;
}

/* Styles pour le résumé de livraison */
.livraison-summary {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8e6ee42;
  border: 1px solid #8c8a8b;
  border-radius: 4px;
}

.livraison-summary h3 {
  margin-top: 0;
}

.total-after-promo {
  font-weight: bold;
  color: #d32f2f;
}

/* Styles pour les options de livraison */
.livraison-options {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.option input {
  display: none;
}

.option label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.option label i {
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 10px;
  color: #a29ca0;
}

.option input:checked + label {
  border: 2px solid #f8c9d4;
  border-radius: 5px;
  padding: 10px;
}

/* Styles pour les champs de carte */
.card-fields {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-left: 60px;
}

.card-fields input {
  flex: 1;
}

/* Style pour le champ de code promo */
.promo-field {
  width: 50%;
}
.ui-messages {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}
