.back-to-products {
  margin: 60px 0 30px;
}

.back-to-products a {
  text-decoration: none;
  color: #007bff;
}

.back-to-products a:hover {
  text-decoration: underline;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-item-image {
  width: 90px;
  height: 80px;
  object-fit: contain;
  margin-right: 40px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details p {
  margin: 5px 0;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 17px;
  height: 28px;
}

.quantity-input {
  width: 50px; /* Ajuster la taille du champ de quantité */
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

.btn-remove {
  background-color: #ff6666;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-remove:hover {
  background-color: #ff3333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cart-divider {
  margin: 20px 0;
  border-bottom: 2px solid #ccc;
}

.cart-total {
  text-align: right;
  margin-bottom: 10px;
}

.confirm-order {
  text-align: center;
  margin-top: 20px;
}

.btn-confirm {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn-confirm:hover {
  background-color: #45a049;
}

.cart-empty {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
