/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: #737373;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 7px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar .left,
.navbar .right {
  display: flex;
  align-items: center;
}

.navbar .menu-icon {
  cursor: pointer;
  font-size: 30px;
}

.navbar .company-logo {
  height: 55px;
  margin-left: 40px;
}

.navbar .company-name {
  font-size: 20px;
  font-weight: bold;
  margin-left: 30px;
  cursor: pointer;
}

.navbar .search-bar {
  display: flex;
  align-items: center;
  margin-left: 60px;
}

.navbar .search-bar input {
  padding: 10px;
  border: none;
  border-radius: 30px;
  width: 400px;
  border-color: #ffb6c1 !important;
}

.navbar .search-bar .material-icons {
  margin-left: 7px;
  cursor: pointer;
  font-size: 27px;
}

.navbar .right .nav-item {
  display: flex;
  align-items: center;
  margin-left: 50px;
  cursor: pointer;
  margin: 0 10px;
  position: relative;
}

.navbar .nav-item h4 {
  margin: 0 5px;
}

.navbar .cart-count {
  background-color: #fd6f85;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -10px;
}

.material-icons.cart-icon {
  font-size: 15px;
  vertical-align: middle;
}

.account-options {
  position: absolute;
  top: 40px;
  right: 0;
  color: #f46d81;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  z-index: 1001;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.account-options .arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  right: 15px;
}

.accordion .accordion-item {
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.accordion .accordion-item i {
  margin-right: 10px;
  font-size: 18px;
}

.accordion .accordion-item h5 {
  margin: 0;
  font-size: 16px;
}

.accordion .accordion-item:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.account-options .divider {
  height: 1px;
  background-color: #ccc;
  margin: 8px 0;
}
